<div class="hts-body">
    <h1>HT Studies</h1>
    <p>{{text.description}}</p>
    <h2>{{text.onGoingStudiesTitle}}</h2>
    <form>
        {{#each studies}}
            <div class="hts-study">
                <div class="hts-study-head">
                    <h3>{{name}}</h3>
                    {{#if ../user}}
                    <p class="study-notify"></p>
                    <form>
                        <label class="hts-switch">
                            <input type="checkbox" name="study_id" value="{{id}}" 
                            {{#if subscription}}
                            checked
                            {{/if}}
                            >
                            <span class="hts-slider round"></span>
                        </label>
                    </form>
                    {{/if}}
                </div>
                <div class="hts-study-body">
                    <p>
                        {{description}}
                    </p>
                    <p class="hts-study-data">
                        <strong>{{../text.dataLabel}}</strong>{{../text.colon}} 
                        {{#each data}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}
                    </p>
                    {{#if ../user}}
                    {{#if data_published}}
                    <p class="hts-study-download-data">
                        <a href="{{data_url}}">
                            <img src="{{../icons.download_data}}" />{{../text.downloadData}}
                        </a>
                    </p>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </form>
</div>